{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend/home_style.css' %}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Home</title>
</head>
<body>
    <header class="header">
      <nav class="navbar navbar-style navbar-fixed-top">
           
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-icon">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a href=""><img class="logo" src="{% static 'frontend/collabrologo.png' %}" alt="logo"></a>
                   <strong>CollaBRO</strong>
               </div>
               <div class="collapse navbar-collapse" id="menu-icon">
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="#">Home</a></li>
                   <li><a href="#mylogin" data-toggle="modal">Log In</a></li>
                   <li><a href="">About Us</a></li>
                   <li><a href="">Contact Us</a></li>
               </ul>
            </div> 
           
      </nav>
      <div class="text-on-image">
      <img class="img-responsive banner-image" src="https://s3.amazonaws.com/siteninja/multitenant/assets/29562/files/original/facilitate-mainfeature-screens-compressor.jpg">
        
        <div class="centered">
          <h1>GET STARTED NOW!</h1>
            <button class="btn" role="button" data-target="#mysignup" data-toggle="modal">Sign Up as an Individual</button>
            <button class="btn" data-target="#mysignuporg" data-toggle="modal">Sign Up as an Organization</button>
      
      <div class="container">
          <div class="row">

              <div class="col-sm-6 banner-info">
                    
              </div>

          </div>
      </div>
    </div>
    </div>
    </header>

    <!-- Log In -->
    <div class="container modal fade" id="mylogin" role="dialog">
        <div class="modal-dialog modal-lg">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="#mysignup" data-toggle="modal" data-dismiss="modal">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Sign Up-->
        
    <div class="container modal fade" id="mysignup" role="dialog">
        <div class="modal-dialog modal-lg">

        <div class="d-flex justify-content-center h-100 ">
            <div class="card ">
                <div class="card-header ">
                    <h4>Sign Up as Member</h4>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="http://your-web-domain.com/cgi-bin/formmail.cgi" onsubmit="return checkform(this);">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" required>
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope-open-text"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="email" required>
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="tel" class="form-control" placeholder="Mobile number" required>
                            
                        </div>
                        
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username" required>
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="confirm password" required>
                        </div>
                        
    <!-- START CAPTCHA -->
    <br>
    <div class="capbox">
    
    <div id="CaptchaDiv"></div>
    
    <div class="capbox-inner">
    Type the number:<br>
    
    <input type="hidden" id="txtCaptcha">
    <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>
    
    </div>
    </div>
    <br><br>
    <!-- END CAPTCHA -->
    
                        <div class="form-group">
                            <input type="submit" value="SignUp" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="org">
                    Or <a href="#mysignuporg" data-toggle="modal" data-dismiss="modal">Sign Up as Organization</a>
                </div>
                <div class="card-footer" >
                    <div class="d-flex justify-content-center links">
                        Already have an account?<a href="#mylogin" data-toggle="modal" data-dismiss="modal">Sign In</a>
                    </div>
        
                </div>
            </div>
        </div>
    
    <script type="text/javascript">
    
        // Captcha Script
        
        function checkform(theform){
        var why = "";
        
        if(theform.CaptchaInput.value == ""){
        why += "- Please Enter CAPTCHA Code.\n";
        }
        if(theform.CaptchaInput.value != ""){
        if(ValidCaptcha(theform.CaptchaInput.value) == false){
        why += "- The CAPTCHA Code Does Not Match.\n";
        }
        }
        if(why != ""){
        alert(why);
        return false;
        }
        }
        
        var a = Math.ceil(Math.random() * 9)+ '';
        var b = Math.ceil(Math.random() * 9)+ '';
        var c = Math.ceil(Math.random() * 9)+ '';
        var d = Math.ceil(Math.random() * 9)+ '';
        var e = Math.ceil(Math.random() * 9)+ '';
        
        var code = a + b + c + d + e;
        document.getElementById("txtCaptcha").value = code;
        document.getElementById("CaptchaDiv").innerHTML = code;
        
        // Validate input against the generated number
        function ValidCaptcha(){
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
        if (str1 == str2){
        return true;
        }else{
        return false;
        }
        }
        
        // Remove the spaces from the entered and generated code
        function removeSpaces(string){
        return string.split(' ').join('');
        }
        </script>
     </div> 
     </div>  


     <!-- Sign Up Org-->
        
     <div class="container modal fade" id="mysignuporg" role="dialog">
        <div class="modal-dialog modal-lg">

        <div class="d-flex justify-content-center h-100 ">
            <div class="card ">
                <div class="card-header ">
                    <h4>Sign Up as Organization</h4>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="http://your-web-domain.com/cgi-bin/formmail.cgi" onsubmit="return checkform(this);">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name of Organization" required>
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope-open-text"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="email" required>
                            
                        </div>
    
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="confirm password" required>
                        </div>
                        
    <!-- START CAPTCHA -->
    <br>
    <div class="capbox">
    
    <div id="CaptchaDiv"></div>
    
    <div class="capbox-inner">
    Type the number:<br>
    
    <input type="hidden" id="txtCaptcha">
    <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>
    
    </div>
    </div>
    <br><br>
    <!-- END CAPTCHA -->
    
                        <div class="form-group">
                            <input type="submit" value="SignUp" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="org">
                    Or <a href="#mysignup" data-toggle="modal" data-dismiss="modal">Sign Up as Member</a>
                </div>
                <div class="card-footer" >
                    <div class="d-flex justify-content-center links">
                        Already have an account?<a href="#mylogin" data-toggle="modal" data-dismiss="modal">Sign In</a>
                    </div>
        
                </div>
            </div>
        </div>
    
    <script type="text/javascript">
    
        // Captcha Script
        
        function checkform(theform){
        var why = "";
        
        if(theform.CaptchaInput.value == ""){
        why += "- Please Enter CAPTCHA Code.\n";
        }
        if(theform.CaptchaInput.value != ""){
        if(ValidCaptcha(theform.CaptchaInput.value) == false){
        why += "- The CAPTCHA Code Does Not Match.\n";
        }
        }
        if(why != ""){
        alert(why);
        return false;
        }
        }
        
        var a = Math.ceil(Math.random() * 9)+ '';
        var b = Math.ceil(Math.random() * 9)+ '';
        var c = Math.ceil(Math.random() * 9)+ '';
        var d = Math.ceil(Math.random() * 9)+ '';
        var e = Math.ceil(Math.random() * 9)+ '';
        
        var code = a + b + c + d + e;
        document.getElementById("txtCaptcha").value = code;
        document.getElementById("CaptchaDiv").innerHTML = code;
        
        // Validate input against the generated number
        function ValidCaptcha(){
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
        if (str1 == str2){
        return true;
        }else{
        return false;
        }
        }
        
        // Remove the spaces from the entered and generated code
        function removeSpaces(string){
        return string.split(' ').join('');
        }
        </script>
     </div> 
     </div>  
</body>
</html>